<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Reject()">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <center>
        <h4>{{message}}</h4>
    </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="Accept()">OK</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Reject()">Cancel</button>
</div>
