<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/angular/sortable.js"></script>
    <script type="text/javascript" src="/js/angular/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="cmd-quick-base.js"></script>
    <script type="text/javascript" src="cmd-quick.js"></script>
    <style>
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }

        .row-space {
            padding-top: 10px;
        }

        .btn-square {
            border-radius: 0;
        }
    </style>
    <title>cmd-quick</title>
</head>

<body ng-app="CmdQuick" style="background-color:#300A24;">
    <div class="container-fluid" ng-controller="CmdQuickController">
        <!-- Header -->
        <div class="row" style="background-color:#FFFFFF;">
            <div class="col-md-2">
                <h6><b>cmd-quick</b></h6>
            </div>
            <div class="col-md-2 col-md-offset-8 no-padding">
                <div class="btn-group btn-group-justified" role="group">
                    <a role="button" class="btn btn-danger btn-square" id="ExportLink" href="#">Export</a>
                    <label role="button" class="btn btn-default btn-square">
                        <input type="file" onchange="angular.element(this).scope().Import(this)" style="display: none;">
                        <span>Import</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- Body -->
        <div id="body-panel" class="row row-space">
            <!-- left side menu -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <b>Categories</b>
                        <button class="btn btn-xs btn-warning pull-right" ng-click="ShowManageMasterTagsDialog()">M</button>
                    </a>
                    <a href="#" ng-repeat="mtag in data.mastertags.array" ng-class="GetMasterTagBtnClass(mtag.id)" ng-click="ChangeMasterTag(mtag.id)">{{mtag.name}}</a>
                </div>
            </div>
            <!-- Main Panel -->
            <div class="col-md-10">
                <!-- controls -->
                <div class="row form-group">
                    <!-- text filter -->
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">Search</span>
                            <input type="text" class="form-control" ng-model="filterText">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" ng-click="ShowNewRecordDialog()">Add</button>
                    </div>
                </div>
                <!-- tags -->
                <div class="row form-group">
                    <div class="col-md-10">
                        <div class="btn-group" role="group">
                            <button type="button" ng-repeat="tag in data.pages.array[index].tags.array" ng-class="GetFilterTagBtnClass(tag.id)" ng-click="ToggleFilterTag(tag.id)">{{tag.name}}</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default btn-block" ng-click="ShowManageTagsDialog()">Manage Tags</button>
                    </div>
                </div>
                <!-- rows -->
                <div class="row form-group">
                    <div class="col-md-12">
                        <ul ui-sortable="sortableOptions" ng-model="data.pages.array[index].records.array" class="list-group">
                            <div ng-repeat="record in data.pages.array[index].records.array | filter:RecordsFilter" ng-class="GetRecordClass(record.id)">
                                <div class="row">
                                    <input type="hidden" name="id" ng-value="record.id">
                                    <!-- Record Display Area -->
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 ng-repeat="command in record.commands">{{command}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <p><i>Detail:</i>
                                                </p>
                                            </div>
                                            <div class="col-md-11">
                                                <p ng-repeat="paragraph in record.detail">{{paragraph}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span ng-repeat="id in record.tagids.array">
                                                    <span class="label label-primary" ng-click="ToggleFilterTag(id)">{{TagsRetrieveById(id).name}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Record Edit Controls -->
                                    <div class="col-md-2">
                                        <div class="btn-group-vertical pull-right" role="group">
                                            <button type="button" class="btn btn-xs btn-primary" ng-click="ShowEditRecordDialog(record.id)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-success" ng-click="ShowNewRecordAtDialog($index)">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-danger" ng-click="ShowDeleteRecordDialog(record.id)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <a role="button" class="btn btn-xs btn-default">
                                                <span class="reorder-handle glyphicon glyphicon-sort" aria-hidden="true"></span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>