<style>
.slide-placeholder {
    background: #DADADA;
    position: relative;
}
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()">&times;</button>
    <h4 class="modal-title">Tags</h4>
</div>
<div class="modal-body">
    <form>
        <ul ui-sortable="sortableOptions" ng-model="tags.array" class="list-group">
            <div ng-repeat="tag in tags.array">
                <div class="input-group">
                    <span class="input-group-addon reorder-handle">{{tag.id}}</span>
                    <input type="text" class="form-control" ng-model="tag.name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="RemoveTag(tag.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </ul>
        <div class="input-group">
            <span class="input-group-addon">#</span>
            <input type="text" class="form-control" placeholder="Name..." ng-model="name">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="AddTag()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="Save()">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">Cancel</button>
</div>
