<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()">&times;</button>
    <h4 class="modal-title">Record</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Command</label>
            <textarea class="form-control" rows="2" ng-model="cmdtxt"></textarea>
        </div>
        <div class="form-group">
            <label>Detail</label>
            <textarea class="form-control" rows="4" ng-model="detailtxt"></textarea>
        </div>
        <div class="form-group">
            <div class="btn-group" role="group">
                <button type="button" ng-repeat="tag in tags.array" ng-class="GetTagBtnClass(tag.id)" ng-click="ToggleTagId(tag.id)">{{tag.name}}</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="Save()">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">Cancel</button>
</div>
